@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.sub-header {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -10px 0px 10px;
}

.sub-header__icons {
    gap: 10px;
    display: flex;
    align-items: center;
}

.sub-header__phone {
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

.header {
    display: flex;
}

.header__logo {
    .ibg {
        @include mixins.elemResolutionOptions(110px, 70px);

        img {
            object-fit: contain;
        }
    }
}

.header__links {
    width: 100%;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(6, 1fr);
}

.header__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: variables.$color-white;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        @include mixins.elemResolutionOptions(100%, 100%);
        top: 0px;
        left: 0px;
        transform: skewX(-13deg);
        background: variables.$color-local-red;
    }

    &:hover {
        transition: 0.2s all;

        &::before {
            background: variables.$color-local-red-hover;
        }
    }

    &.router-link-active {
        &::before {
            background: variables.$color-local-red-dark;
        }
    }

    .header__link-text {
        position: relative;
        z-index: 2;
    }
}