@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.table-top {
    padding: 10px;
    border-bottom: 1px solid variables.$color-light-grey;
    @include mixins.flexBlock($vertical: center, $horizontal: space-between, $gap: 10px);
}

.table-top__actions {
    @include mixins.flexBlock($vertical: center, $gap: 10px);
}

.table__title {
    font-weight: 600;
}

.table-top__item {
    .popup__summary {
        padding: 0px 5px;

        figure {
            display: flex;
        }
    }

    .popup__content {
        left: auto;
        right: 0px;
        width: 260px;

        .popup-option {
            .icon__draggable {
                position: static;
                @include mixins.setSVGColor(variables.$color-blue-grey);

                &:hover {
                    @include mixins.setSVGColor(variables.$color-active);
                }
            }

            &.popup-option__sublink_back {
                flex-direction: row;
                justify-content: flex-start;
            }
        }
    }

    &.table-top__select {
        display: none;

        .select__popup {
            .popup__summary {
                .form-item__substring {
                    top: 4px;

                    &::after {
                        content: url('/public/icons/arrowBlue.svg');
                        transform: rotate(0deg);
                    }
                }

                .form-item__input {
                    & > input {
                        height: auto;
                        min-height: auto;
                        padding: 5px 30px 5px 15px;
                        border: none;
                    }
                }
            }

            .select__active-option {
                top: 1px;
                height: auto;
                padding: 5px 10px;
                justify-content: flex-end;
            }
        }

        &.table-top__select_up {
            .select__popup {
                .form-item__substring {
                    &::after {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}

@media (max-width: 660px) {
    .table-top__item {
        &.table-top__select {
            display: block;
        }
    }    
}