@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.services {

}

.services__table {
    .table-template__header,
    .table-template__footer,
    .table-template__buttons,
    .table-item__border {
        display: none;
    }

    .section__scroll-area {
        overflow: hidden;
    }

    .table__header {
        .table__item {
            background: #eb6759;
            color: variables.$color-white;
        }
    }

    .table__body {
        .table__row {
            &:nth-child(even) {
                .table__item {
                    background: #fd311b1a;
                }
            }
        }
    }
}

.services__header {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    h1 {
        margin-bottom: 0px;
    }

    .select {
        width: 20vw;
    }

    &.services__header_detail {
        gap: 15px;
        justify-content: flex-start;

        svg {
            width: 40px;
        }
    }
}

.services__list {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(4, 1fr);

    .card {
        &:hover {
            background: variables.$color-local-red;

            * {
                color: variables.$color-white;
            }

            .card__button {
                background: variables.$color-white;

                span {
                    color: variables.$color-black;
                }

                &:hover {
                    border: 1px solid variables.$color-local-red;

                    span {
                        color: variables.$color-local-red;
                    }
                }
            }
        }
    }
}

.services__description {
    margin: 30px 0px;

    * {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}