@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.button-text {
    cursor: pointer;
    width: max-content;
    overflow: hidden;
    white-space: nowrap;
    @include mixins.userSelect(none);
    color: variables.$color-blue-grey;
    @include mixins.textOptions(15px, 400, normal);

    &:hover {
        color: variables.$color-active
    }
}