@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.table__header {
    .table__item {
        font-weight: 400;
        overflow: visible;
        border-right: 1px solid variables.$color-light-grey;
        border-bottom: 1px solid variables.$color-light-grey;

        .table-item__title, .form-item__checkbox {
            overflow: hidden;
        }

        &.sortable-ghost {
            border-radius:  5px 5px 0px 0px;
            border-bottom: none;
            border-right: 2px dashed variables.$color-blue-grey;
            
        }

        &.table__item_resizing {
            &.table__item {
                .table__item-border {
                    z-index: 22;
                }
            }
        }

        &.table__item_hover {
            z-index: 21;
        }

        .form-item__checkbox {
            position: relative;
            z-index: 4;
        }

        .table-item__border {
            height: 500vh;
        }
    }
}