@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.table-categories__details {
	&[open] {
		& > .table-categories__header {
			.icon__triangle {
				transform: rotate(180deg);

				svg {
					* {
						fill:variables.$color-active;
					}
				}
			}
		}
	}
}

.table-categories__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;

	&:hover {
		background-color: variables.$color-hover;
	}
}

.table-categories__header {
	cursor: pointer;
	position: relative;
	justify-content: space-between;
	gap: 5px;
    display: flex;
    align-items: center;

	.icon__triangle {
		svg {
			* {
				fill:variables.$color-blue-grey;
			}
		}
	}

	&:hover {
		background-color: variables.$color-hover;
	}
}

.table-categories__title {
	display: flex;
	align-items: center;
	gap: 5px;
	width: 100%;
	padding: 10px 15px 10px calc(15px * var(--itemIndex));
}

.table-categories__popup {
	margin-right: 15px;
}