@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.table-container {
    &.table-container_categories {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 320px 1fr;

        .table-template {
            grid-column: 2/4;
        }
    }
}

.table-template {
    // Удалить этот стиль, тк он для доки
    grid-column: 1/4;

    position: relative;
    width: 100%;
    margin-bottom: 70px;
    
    &.table-template_loading, &.table-template_filtering {
        .table {
            pointer-events: none;
        }
    }

    &.table-template_loading {
        height: 88vh;
        overflow: hidden;
        
        .table {
            display: none;
        }
    }

    &.table-template_filtering {
        .table, .table-mobile {
            opacity: 0.5;
        }
    }
}

.table-template__body {
    min-height: 70vh;
    overflow: auto;
    overflow-y: hidden;
}

.table {
    border-spacing: 0;

    &.table_hidden {
        z-index: 1;
        position: absolute;
        opacity: 0;
    }

    &.table_copy {
        z-index: 2000;
        position: relative;
        top: 0px;
        left: 0px;
        background: variables.$color-white;
    }

    &.table_empty {
        width: 100%;

        .table__body {
            width: 100%;
            position: relative;

            &::before {
                content: "Нет данных";
                position: sticky;
                left: 35vw;
                top: 35vh;
                white-space: nowrap;
                display: flex;
                height: 60vh;
                align-items: center;
                justify-content: center;
                color:variables.$color-blue-grey;
            }
        }
    }

    &.table_transfer {
        position: absolute;
        top: -10000px;
        left: -10000px;
        background: variables.$color-white;
    }
}
