@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.menu {
    &.menu_mobile {
        display: none;
        
        .menu__content {
            width: 100%;
            position: absolute;
            z-index: 9999;
            background: variables.$color-white;
            @include mixins.elemPositionOptions(0px, 0px);

            .header__logo {
                display: block;
                margin-bottom: 20px;                

                .ibg {
                    width: 100%;
                    gap: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    img {
                        width: max-content;
                        position: static;
                    }

                    figcaption {
                        font-size: 18px;
                        position: relative;
                        left: -20px;
                    }
                }
            }
        }

        .icon__arrow {
            transform: rotate(180deg);
            @include mixins.flexBlock($vertical: center);

            svg {
                @include mixins.elemResolutionOptions(10px, 21px);

                * {
                    fill: variables.$color-blue-grey;
                }
            }
        }

        .menu_other {
            @include mixins.flexBlock($horizontal: space-between);
        
            .icon__arrow {
                transform: rotate(0deg);

                svg {
                    @include mixins.elemResolutionOptions(6px, 10px);

                    * {
                        fill: variables.$color-black;
                    }
                }    
            }
        }
        
        .menu__gamburger {
            padding: 10px;
            background: variables.$color-white;
            border-radius: 50%;
            border: 1px solid variables.$color-local-red;

            svg {
                display: flex;
                @include mixins.elemResolutionOptions(20px, 20px)
            }
        }

        .menu__nav-back {
            cursor: pointer;
            margin-bottom: 25px;
            @include mixins.flexBlock($vertical: center, $gap: 15px);
        }

        .menu__list {
            display: flex;
            flex-direction: column;
        }

        .menu__item {
            padding: 15px;
            font-weight: 600;
            border-radius: 5px;
            margin-bottom: 5px;
            background-color: variables.$color-pale-grey;
            border: 1px solid variables.$color-light-grey;

            &:hover, &.menu__item_active {
                border: 1px solid variables.$color-orange;
            }

            &.menu__item_red {
                color: variables.$color-red;
            }
        }

        .menu-user {
            @include mixins.flexBlock($vertical: center, $gap: 15px);
        }

        .menu-user__icon {
            overflow: hidden;
            border-radius: 50%;
            @include mixins.elemResolutionOptions(30px, 30px)
        }
    }

    &.menu_mobile-active {
        left: 0px;
        top: 0px;
        width: 100%;
        z-index: 222;
        height: 100vh;
        background: variables.$color-white;
    }
}

@media (max-width: 720px) {
    .menu {
        &.menu_mobile {
            display: block;
        }
    }
}