@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.table-template__buttons {
    display: flex;
    width: 100%;
    z-index: 300;
    position: absolute;
    @include mixins.elemPositionOptions(calc(var(--stickyTop) + 16px), 0px);
}

.scroll-button {
    &.scroll-button_disabled {
        display: none;
    }

    &.scroll-button_left {
        left: 0px;
        position: absolute;

        &::before {
            content: url('/icons/scrollButtonLeft.svg');
        }
    }

    &.scroll-button_right {
        right: 0px;
        position: absolute;

        &::before {
            content: url('/icons/scrollButtonRight.svg');
        }
    }
}

.table-template__loader {
    z-index: 2;
    width: 100%;
    display: none;
    position: absolute;
    height: max-content;
    place-items: center;
    @include mixins.elemPositionOptions(calc(var(--stickyTop) + 50px), 0px);

    &::after {
        margin: 0;
        position: static;
        @include mixins.elemResolutionOptions(32px, 32px);
    }
}

.table-template {
    &.table-template_loading, &.table-template_filtering {
        .table-template__loader {
            display: grid;
        }
    }

    &.table-template_filtering {
        .table-template__loader {
            top: calc(var(--stickyTop) + 40px);
        }
    }
}
