@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.main-services {
    margin-top: 170px;
}

.main-services__list {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1300px) {
    .main-services {
        margin-top: 120px;
    }
}

@media (max-width: 1000px) {
    .main-services__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 930px) {
    .main-services {
        margin-top: 80px;
    }
}

@media (max-width: 630px) {
    .main-services__list {
        grid-template-columns: repeat(1, 1fr);

        .card__image {
            height: 240px;
        }
    }
}

@media (max-width: 450px) {
    .main-services__list {
        .card__image {
            height: 160px;
        }
    }
}