@use '@/assets/variables' as variables;
@use '@/assets/mixins' as mixins;

.map__wrapper {
    position: relative;

    .map__canvas {
        position: absolute;
		top: 0;
		@include mixins.elemResolutionOptions(100%, 100%);
	}
}