@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.button-details {
    display: flex;
    align-items: center;

    button {
        border-radius: 5px 0px 0px 5px;
    }
}

.button-details__popup {
    border-left: 1px solid variables.$color-white;
    @include mixins.elemResolutionOptions(42px, 100%);

    &[open] {
        .popup__summary {
            filter: brightness(0.9);
        }

        .icon__triangle {
            transform: rotate(180deg);
        }
    }

    .popup__summary {
        display: grid;
        place-items: center;
        border-radius: 0px 5px 5px 0px;
        background: variables.$color-blue;
        @include mixins.elemResolutionOptions(100%, 100%);
    }

    .popup__content {
        top: 45px;
    }
}