@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.status__popup {
    &[open] {
        .popup__summary {
            .status__option {
                .status-option__rect {    
                    &::after {
                        transform: rotate(180deg);    
                        @include mixins.borderOptions(1px, solid, variables.$color-blue, 5px 0px 0px 5px);
                    }
                }
            }
        }            
    }

    &.status__popup_colorpicker {
        .popup__content {
            max-height: 300px;
            max-height: max-content;
        }
    }

    &.popup_up {
        .popup__content {
            bottom: 30px;
        }
    }

    .popup__content {
        top: 30px;
    }

    .popup__option-sublink {
        &::before {
            content: '';
            border-radius: 5px;
            @include mixins.elemResolutionOptions(25px, 25px);
            background: linear-gradient(131deg, #ca0000 3%, #0070aa 98%);
        }

        &.popup__option-sublink_back {
            &::before {
                content: none;  
            }
        }
    }

    .popup__option_unhover {
        padding: 0px;
    }

    
    .popup__option {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        &.popup__option_active {
            .status__option {
                filter: opacity(0.5);
            }
        }
    }
}