@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.main-section {
    padding-top: 100px;
    position: relative;

    h1 {
        width: 40%;
        font-size: 40px;
        margin-bottom: 50px;
        margin-left: 0px;
    }

    button {
        font-size: 18px;
        padding: 15px 60px;
    }
}

.main-section__list {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-section__item  {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 18px;

    &::before {
        content: url('/icons/red-success.svg');
    }
}

@media (max-width: 920px) {
    .main-section {
        padding-top: 60px;
    
        h1 {
            width: 100%;
        }
    }
}

@media (max-width: 720px) {
    .main-section {
        padding-top: 70px;
        
        h1 {
            font-size: 35px;
        }
    }

    .main-section__list {
        gap: 10px;
    }
}

@media (max-width: 520px) {
    .main-section {
        .main-section__item {
            align-items: flex-start;
        }
        
        button {
            width: 100%;
        }
    }
}

@media (max-width: 360px) {
    .main-section {
        h1 {
            font-size: 30px;
        }
    }
}
