@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.footer {
    background: variables.$color-local-dark;

    .container {
        gap: 50px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    
        * {
            color:variables.$color-white;
        }
    }
}

.footer__group {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.footer__logo {
    gap: 10px;
    display: flex;
    align-items: center;

    img {
        position: static;
        object-fit: contain;
        @include mixins.elemResolutionOptions(100px, 70px);
    }
}
.footer__mark {
    font-size: variables.$font-size-label;
}

.footer__icons {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    svg {
        * {
            fill: variables.$color-white;
        }
    }
}

.footer__icon {
}
.footer__phone {
    text-align: end;
}
.footer__mail {
}

@media (max-width: 720px) {
    .footer {
        & > .container {
            gap: 40px;
            flex-direction: column-reverse;
        }

        .footer__group {
            width: 100%;

            * {
                justify-content: center;
                text-align: center;

                figcaption {
                    text-align: start;
                }
            }
        }
    }
}